body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    container: fluid;
    background-color: rgb(129, 129, 129);
    flex: 0 70px;
}

main {
    flex: 1 calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}


div img{
    display: flex;
    justify-content: center;
    align-items: center;
}
  

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item a{
    padding-left: 0.5em;
    color: white;
    text-decoration: underline;
    font-size: 1.25em;
}
#eightBall {
    padding-right: 1em;
}
footer {
    background-color: azure;
    flex-direction: row !important;
    list-style: none;
    margin: 0;
    flex: 0 30px;
}
footer a {
    color: black;
    text-decoration: underline;
    padding-left: .23em;
}